<h1>Welcome to Almanac Travel Log!</h1>

<div class="pic">
<img src="https://static.vecteezy.com/system/resources/previews/008/957/257/original/animated-globe-world-map-school-cartoon-clipart-icon-in-flat-design-vector.jpg" alt="">
</div>

<style>
.pic {
  width: 8px;
  height: 8px;
  object-fit: cover;
}
</style>

<p>
Sick of the awkward silence whenever someone asks you how many countries you've been to? Is mental math not your thing? Have a hard time remembering basic facts about places you've been to? Suffer no more!
</p>

<p>
With this new almanac travel log, you can keep track of countries you've visited, and quickly brush up on the most important facts about them.
</p>
