

<img src="https://static.vecteezy.com/system/resources/previews/011/125/363/original/cute-globe-cartoon-icon-png.png" alt="" class="home_pic">

<h1>Welcome to Almanac Travel Log!</h1>

<p>
Sick of the awkward silence whenever someone asks you how many countries you've been to? Is mental math not your thing? Have a hard time remembering basic facts about places you've been to? Suffer no more!
</p>

<p>
With this new almanac travel log, you can keep track of countries you've visited, and quickly brush up on the most important facts about them.
</p>
