

<h1>Welcome to Almanac Travel Log!</h1>

<p>
Sick of the awkward silence whenever someone asks you how many countries you've been to? Is mental math not your thing? Have a hard time remembering basic facts about places you've been to? Suffer no more!
</p>

<p>
With this new almanac travel log, you can keep track of countries you've visited, and quickly brush up on the most important facts about them.
</p>

<div class="home_pic">
<img src="https://media.istockphoto.com/id/1183899986/vector/earth-illustration-cartoon-line-art-style-bold-colors.jpg?s=612x612&w=0&k=20&c=_HJOlU5NH0X8GWLnW-JDmJkj63jOHPm_fTsVzY-ZVIA=" alt="">
</div>
