<h1>Country list</h1>

<h2>Add a new country</h2>
     <form action="/new_country">
       <div>
       <label for="country_name_text">Country name (in English):</label>
       <input id="country_name_text" type="text" name="country_name_input" placeholder="Enter country name">
       </div>

       <div>
       <label for="country_region_text">Region:</label>
       <input id="country_region_text" type="text" name="country_region_input" placeholder="Enter region">
       </div>

       <div>
       <label for="country_population_text">Population:</label>
       <input id="country_population_text" type="text" name="country_population_input" placeholder="Enter population">
       </div>

       <div>
       <label for="country_area_text">Area (in sq. mi.):</label>
       <input id="country_area_text" type="text" name="country_area_input" placeholder="Enter area (sq. mi.)">
       </div>

       <button>Search</button>
     </form>
